/*
** https://codepen.io/enxaneta/full/adLPwv/
*/

.contenedor{
    background-color: bisque;
    padding: 0.25rem;
    display: flex;
    gap: 0.5rem;
    min-height: 1rem;
    /*Direccion -> defecto: row*/
    flex-direction: column;
    /*Eje de ordenadas (Y)*/
    align-items: center;
    /*Eje de abscisas (X)*/
    justify-content: space-around;
    /*Envoltura -> defecto: nowrap*/
    flex-wrap: wrap;
}

.item{
    background-color: lightpink;
    padding: 2rem;
}

.item2{
    align-self: flex-start;
}
.item3{
    align-self: stretch;
}
.item4{
    align-self: flex-end;
}