@import url("https://api.fontshare.com/v2/css?f[]=clash-grotesk@400,300,500&display=swap");

body {
    font-family: "Clash Grotesk", sans-serif;
    text-decoration: none;
    text-align: justify;
    margin: 0;
    padding: 0;
}

main{
    position: relative;
}

.section-1{
    height: 100vh;

    .img-section-1 {
        background-color: #FAFBFC;
        width: 35vw;
        position: relative;
        padding: 5rem;
    
        .img-leaf {
            position: absolute;
            top: 0;
            left: 0;
            transform: 
                translate(-15%, -15%)
                rotate(355deg);
            height: 45%;
            z-index: 1;
        }
    
        .img-dreams{
            height: 30%;
        }
    }
}

.section-2{
    height: 100vh;
}

.section-3{
    height:150vh;

    .img-section-pumkin{
        position: absolute;
        left: 0;
        top: 0;
        transform: 
            translate(-10% ,-70%);
        height: 13em;
    }
}